/* Css For All Pages */

body {
    background-image: url(../Images/ignasi_pattern_s.jpg);
    background-size: auto;
}

#background {
    background-color:white;
    margin-top: 20px;
    border: groove 2px;
}

/* Changing the color of the navigation bar */
#nav-row {
    background-color:#164958;
    border-bottom: 2px solid #27809B;
    color:white;
}

/* CSS for Headings */
h1, h2, h6 {
    color:#27809B
}

h1 {
    padding-left: 10px;
    padding-top: 10px;;
}

/* CSS for Horizontal line Break to create a line effect */
hr {
    background-color: #164958;
    border: inset 1px;   
}

p {
    text-align: center;
}

/* Css for the footer section */
footer {
    margin-top:20px;
    bottom:0;
    width:100%;
    position:sticky;
    border-top: 5px solid #27809B;
    background-color:#164958;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
footer p {
    padding-top:10px;
}

footer a {
    color:white;
}

footer a:hover {
    text-decoration: none;
    color: white;
}

/* changing linked in and github images to fit in footer */
#linked-in {
    height:30px;
    margin: 10px;

}

#github {
    height:30px;
    margin:10px; 
}

/* CSS for Index.html */

/* aligning the image to the center of its column */
#portfolio-image {
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
}

/* changing the container to a flex model. so i cam align to the center of the container */
#about-me-text {
    display: flex;
    align-items: center;
}

/* Contact Page CSS */

#background-contact {
    background-color:white;
    margin-top: 20px;
}

#name-row {
    padding-top: 20px;
}

#email-row {
    margin-top: 20px;
}
#text-box {
    padding-top:20px;
}

#Textarea1 {
    resize:none;
}

#submit-btn {
    margin-bottom: 20px;
}

/* Css for portfolio page */

#portfolio-container {
    text-align:center;
    margin-left: auto;
    display:inline flex;
}

.portfolio-img {
   
    height: 200px;
    width: 300px;
    margin: 20px;
}

h6 {
    text-align: center;
}

