body {
    background-image: url(../Images/ignasi_pattern_s.png);
    background-size: auto;
}
#background {
    background-color:white;
    margin-top: 20px;
    border: groove 2px;
}

#brand-background {
    background-color: #164958;
}

h1, h2, h6 {
    color:#27809B
}

h1 {
    padding-left: 10px;
    padding-top: 10px;;
}

a {
    color:black;
}

hr {
    background-color: #164958;
    border: inset 1px;

}
#nav-row {
    background-color:#164958;
    border-bottom: 2px solid #27809B;
    color:white;
}

#portfolio-image {
    text-align: center;
}

#about-me-text {
    display: flex;
    align-items: center;
}

p {
    text-align: center;
}

footer {
    margin-top:20px;
    bottom:0;
    width:100%;
    position:sticky;
    border-top: 5px solid #27809B;
    background-color:#164958;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
footer p {
    padding-top:10px;
}

footer a {
    color:white;
}

#linked-in {
    height:30px;
    margin: 10px;

}

#github {
    height:30px;
    margin:10px; 
}

/* Contanct Page CSS */

#background-contact {
    background-color:white;
    margin-top: 20px;
}

#name-row {
    padding-top: 20px;
}

#email-row {
    margin-top: 20px;
}
#text-box {
    padding-top:20px;
}

#Textarea1 {
    resize:none;
}

#submit-btn {
    margin-bottom: 20px;
}


#portfolio-container {
    text-align:center;
    margin-left: auto;
    display:inline flex;
}

#portfolio-container a {
    text-decoration: none;
}

.portfolio-img {
    border: groove;
    height: 200px;
    width: 300px;
    margin: 20px;
}

h6 {
    text-align: center;
}

a.link, a.visited {
    text-decoration: none;
    border: groove;
}

